@import "./components/Header/Header.css";
@import "./components/ShoppingItem/ShoppingItem.css";
@font-face {
  font-family: pokesolid;
  src: url(./components/assets/Pokemon\ Solid.ttf);
}

body {
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
}
